/* Common styles for option boxes and cards */
body {
    background-color: #fcf9f4; /* Light cream background */
    font-family: 'Garamond', serif; /* Classic serif font */
    color: #4c4c4c; /* Dark grey text */
    margin-top: 50px; /* Add some space from the top */
    opacity: 1; /* Adjust the opacity as desired */
}

h1 {
    text-align: center;
    font-size: 2.5rem; /* Larger font size for headings */
    margin-bottom: 30px; /* Add space below the heading */
    text-transform:capitalize;
    font-family: Impact, fantasy;
}

.option-box,
.card {
    border: 1px solid #17ADB4; /* Light grey border */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #ffffff; /* White background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition */
    text-align: center; /* Center align the text */
    text-transform: capitalize; /* Transform text to uppercase */
}

/* Hover effect for option boxes and cards */
.option-box:hover,
.card:hover {
    transform: translateY(-5px); /* Lift the box slightly on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}

/* Button styles */
.btn,
.back-button button {
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    background-color: #17ADB4; /* Light grey border */
    color: #ffffff; /* White text */
}

.btn:hover,
.back-button button:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #17acb475;
}

/* Specific styles for back button */
.back-button {
    text-align: center;
    margin-top: 30px; /* Add space above the button */
}

.back-button a {
    text-decoration: none;
    color: inherit; /* Inherit text color */
}

.form-label {
    font-size: 1.2rem; /* Larger font size for form labels */
    font-weight: bold; /* Bold font weight for form labels */
    text-align: center;
}
.form-control {
    border: 1px solid #17ADB4; /* Light grey border */
    border-radius: 10px; /* Rounded border corners */
}
.container {
    text-align: center;
}

/* WRC logo styles */
.wrc-logo {
    width: 15%;
    position: fixed;
    top: 20px;
    left: 20px;
}

/* Add poll button styles */
.add-poll-button {
    margin-bottom: 20px; /* Add space below the button */
}
