/* style.css */

/* Add your custom CSS styles here */

.container {
  margin-top: 50px;
}

/* Style the form */
form {
  max-width: 500px;
  margin: 0 auto;
  text-align: center; /* Center text within the form */
}

/* Style form labels */
.form-label {
  font-weight: bold;
}

/* Style form inputs */
.form-control {
  margin-bottom: 10px;
}

/* Style the create poll button */
.btn-primary {
  margin-top: 10px;
}

/* Center the title */
h1 {
  text-align: center;
}